
/infrastructure/vagrant/
/infrastructure/vagrant/*
/tmp/
/tmp/*
/joara-app-provision/joara_app_provision.egg-info/
/joara-app-provision/joara_app_provision.egg-info/*
/config
/id_rsa
/jenkins.ppk
/joara-app-provision/joara_app_provision/python_libs/test.py
/joara-app-provision/joara_app_provision/python_libs/testssh.py
#/infrastructure/images_version/*.yml
.vagrant
*.vdi
*.egg*
*.idea
*.idea*
*.pyc
/logs
/logs/*
/keys/
/keys/*
/id_rsa.pub
/joara-app-provision/joara_app_provision/python_libs/testgit.py
/infrastructure/configure/jenkins/ansible-jenkins/roles/jenkins/files/ssh/id_*
/joara-app-provision/joara_app_provision/python_libs/sample.py
